*
    box-sizing: border-box
    margin: 0
    padding: 0
    
    
.bottom-nav
    display: flex
    align-items: center
    background: #F5F5FA
    padding-left: 20px
    &__icon
        width: 100%

    &__con
        width: 40px



.demo-screen
    display: flex
    flex-direction: column
    background: #F5F5FA

.demo-content
    display: flex
    flex-direction: column
    align-items: center
    padding: 30px 20px 30px 20px

    h2
        font-size: 20px
        font-weight: bold

    p
        margin-bottom: 100px
        margin-top: 15px
        text-align: center
        font-size: 14.3px
        color: #6b6b6b
        line-height: 1.3

    
.skip-btn, .back-btn
    width: 100%
    color: #FFFFFF
    background: #57419D
    padding: 8px 0px
    border: none
    border-radius: 15px
    font-size: 13px